@tailwind base;
@tailwind components;
@tailwind utilities;


.sidebar::-webkit-scrollbar {
    width: 8px; 
    height:10px;
  }
  
.sidebar::-webkit-scrollbar-thumb {
    background-color: #333; 
    border-radius: 8px; 
    border: none;
  }



 
  .PlayingVideoWraper::-webkit-scrollbar {
    width: 8px; 
    height:10px;
  }
  
.PlayingVideoWraper::-webkit-scrollbar-thumb {
    background-color: #333; 
    border-radius: 8px; 
    border: none;
  }
  .Listitmes::-webkit-scrollbar {
    width: 8px; 
    height:10px;
  }
  
  .Listitmes::-webkit-scrollbar-thumb {
    background-color: #333; 
    border-radius: 8px; 
    border: none;
  }
  .ContentWraper::-webkit-scrollbar{
    display: none;
  }
  .SuggestedVideoWraper::-webkit-scrollbar{
    display: none;
  }
  
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 6px solid rgba(255, 255, 255, 0.2); 
    border-top-color: #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
 
  